# General
MODE=DEV

# App Settings
APP_TITLE="System B — Центральный реестр"
APP_DESCRIPTION="REST API межведомственного обмена документами"
APP_VERSION="1.0.0"

# Database Settings
DB_DIALECT=sqlite
DB_DRIVER=aiosqlite
DB_NAME=system_b.db

TEST_DB_DIALECT=sqlite
TEST_DB_DRIVER=aiosqlite
TEST_DB_NAME=test_system_b.db

# Exchange Settings
SYSTEM_NAME=SYSTEM_B
SIGNER_CERT_NAME=SYSTEM_B
